
  .tarifContainer {

    width: 25px;
    padding: 2px;
    width: fit-content;
  }
  
  table *{
    width: fit-content;
    text-align: center;

  }
  
  #flush-collapseOne {
    width: fit-content;
  } 

  tr td:first-child{

    width: 2em;
  }

  tr:nth-child(even) {
    /* Vos styles pour les lignes paires ici */
    background-color: fuchsia;
  }
  

  .accordionButtonCustom {
    background-color: fuchsia;
  }

  .accordion-button.collapsed {
    color: rgb(249, 249, 249);
    background-color: #096e52;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }

  .accordion-button:not(.collapsed) {
    color: white;
    background-color: fuchsia/* var(--bs-accordion-active-bg) */;
/*     box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
  }

  