.presentation {
font-size: large;
}

.presentation > p {
  margin-block: 35px;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.intro {
  font-size: 18px;
  /* color: #555; */
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  /* color: #666; */
  margin-bottom: 15px;
}

.aboutLindaPhoto {
    width: 40%;
    border-radius: 322px;
    border: 0.2px solid rgba(12, 11, 11, 0.077);
    
  }


.divAnimationAbout {
    /*   width: 100px;
      height: 100px; */

    /*   background: rgba(1, 119, 66, 0.057);
     */  position: relative;
      animation: mymove2 3s;
      animation-fill-mode: forwards;
    }
    
    @keyframes mymove2 {
      from {right: -150px;}
      to {right: 10px; background-color: rgba(18, 18, 144, 0);}

    }
    