p {
  font-size: 16px;
  /*   color: rgb(11, 29, 11); */
}

/* -------------------------------------- NAVBAR ---------------------------------------*/

.containerNav {
  display: flex;
}

.nav-item {
  padding-inline: 2em;

}

/* #basic-nav-dropdown {
  color: rgb(245, 240, 245);
} */

.dropdown-menu.show {
  background-color: rgba(255, 255, 255, 0.90);
  color: blue;
  border: none;
}

a.dropdown-item:hover {
  background-color: rgba(102, 237, 179, 0.413);
}

.LogoNav {
  width: 14em;
  padding: 20px;

}

/* -------------------------------------- ANIMATION WELCOMING PAGE ---------------------------------------*/

.divAnimation {
  /*   width: 100px;
  height: 100px; */
  height: 50vh;
  padding: 2em;
  /*   background: rgba(1, 119, 66, 0.057);
 */
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    bottom: -200px;
  }

  to {
    bottom: -30px;
    background-color: rgba(0, 0, 255, 0);
  }
}

.enSavoirPlusBtn {
  box-shadow: 10px 10px;
  background: green;
  color: #162029ed;

}

.enSavoirPlusBtn:hover {
  background-color: rgb(126, 207, 169);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

  height: 17em;
}

.main-heading {
  color: rgb(47, 125, 77);
  /* font-size: 26px; */
}

/* .aboutSection{
  margin-top: -9rem;
} */

.underline {
  height: 4px;
  width: 4rem;
  background-color: rgb(72, 181, 114);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .cardCustom {
  background-color: blueviolet;

} */

.Cards {
  /*  border:2px solid rgb(193, 193, 11); */
  height: 75vh;
  display: flex;
  flex-direction: row;


}

.Cards .cardCustom {
  padding: 15px;
  /* width: 27vw; */

  /*   margin-inline: 1em; */
}

.cardCustom .card {
  background-color: rgb(255, 255, 255);

}

/* -------------------------------------- ANIMATION CARDS ---------------------------------------*/

.zoomCards {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  /*   width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoomCards:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.bg-c-light {
  background-color: rgb(229, 227, 223);
}

.border-top-c {
  border-top: 1px solid rgba(181, 131, 61, 0.155);
}

.border-bottom-c {
  border-bottom: 1px solid rgba(236, 146, 19, 0.449);
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: grey;
}



/****************************************************************** 
 *------------------------ MEDIA QUERY ---------------------------*
******************************************************************/


@media (max-width: 760px) {
  .Cards {
    display: block;
    width: 60vw;
    height: 200vh;
    margin-bottom: 2em;
  }

  .cardCustom {
/*     display: flex; */
    justify-content: center;
    flex-direction: column;

  }

    .cardCustom>.card {
      width: 100%;
      padding: 2%; 

  }


}