p {
  font-size: 16px;
  color: rgb(11, 29, 11);
}

a {
  text-decoration: none;
}
/* -------------------------------------- NAVBAR ---------------------------------------*/

.navbar {
  display: flex;
  flex-direction: column-reverse;
/*   position: sticky;
  top: 0;
  overflow: hidden; */
  background-color: #e1e9e5;
  box-shadow: 3px 3px 11px #3a3a3a2e;
}

.nav-item {
  padding-inline: 2em;
  /*   background-color: fuchsia; */
}

/* a.nav-link   {
  color: white;
} */

a.nav-link.active:hover,
a#basic-nav-dropdown:hover {
  color: rgb(42, 165, 65);
}

/* 
#basic-nav-dropdown {
  color: rgb(230, 26, 26);
} */




.dropdown-menu.show {
  height: auto;
  background-color: #e1e9e5;
  color: blue;
  border: none;
  border-radius: 4px;
  padding: 11px;
  padding-top: 11px;
  padding-top: inherit;
  padding-top: 1em;
  box-shadow: -1px 9px 10px -1px rgba(0, 0, 0, 0.13);
  opacity: 99%;
  border-radius: 2%;
  margin-left: -44px;

  -webkit-box-shadow: -1px 9px 10px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -1px 9px 10px -1px rgba(0, 0, 0, 0.13);
  box-shadow: -1px 9px 10px -1px rgba(0, 0, 0, 0.13);
}

a.dropdown-item:hover {
  background-color: rgba(18, 222, 154, 0);
}

.LogoNav {
  width: 14em;
  padding: 20px;

}

img {
  width: 140px;
}
/* -------------------------------------- ANIMATION WELCOMING PAGE ---------------------------------------*/

.divAnimation {
  /*   width: 100px;
  height: 100px; */
  height: 50vh;
  padding: 2em;
  /*   background: rgba(1, 119, 66, 0.057);
 */
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    bottom: -200px;
  }

  to {
    bottom: -30px;
    background-color: rgba(0, 0, 255, 0);
  }
}

.enSavoirPlusBtn {
  background: #82cb97;
    /* #a3ffc3 */
  ;
  color: #162029ed;
  border-radius: 50px;
  height: 44px;
  box-shadow: 3px 3px 11px #3a3a3a63;
  text-decoration: none;

}

.enSavoirPlusBtn:hover {
  background-color: #a3ffc3;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

  height: 17em;
}

.main-heading {
  color: #096e52;
  /* font-size: 26px; */
}

/* .aboutSection{
  margin-top: -9rem;
} */

.underline {
  height: 4px;
  width: 4rem;
  background-color: #096e52;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .cardCustom {
  background-color: blueviolet;

} */

h6 {
  font-weight: bolder;
}
.Cards {

  height: 75vh;
  display: flex;
  flex-direction: row;

}



.Cards .cardCustom {
  padding: 15px;
  color: fuchsia;

}

.cardCustom .card {
  background-color: #096e52;
  color: #fff;
  width: 322px;
  /*   height: 60vh; */
  padding-bottom: 18px;

}

/* .divGestAdm {
  border: 2px solid red;
} */

/* -------------------------------------- ANIMATION CARDS ---------------------------------------*/

.zoomCards {
  padding: 50px;
  transition: transform .4s ease-in-out;
  /* Animation */
  /*   width: 200px;
  height: 200px; */
  
  margin: 0 auto;
}

.zoomCards:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.bg-c-light {
  background-color: rgb(229, 227, 223);
}

.border-top-c {
  border-top: 1px solid rgba(181, 131, 61, 0.155);
}

.border-bottom-c {
  border-bottom: 8px solid rgb(99, 191, 124);
}

.enSavoirPlusCard {
  background: #82cb97;
  color: #162029ed;
  border-radius: 50px;
  height: 44px;
  box-shadow: 3px 3px 11px #3a3a3a63;
  width: 140px;
/*   color: rgb(249, 251, 250);
  border: 1px solid fuchsia;
  background-color: #4b007e; */
  height: 32px;
  margin-inline-start: 1em;
  border-radius: 32px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.enSavoirPlusCard:hover {
  background-color: rgb(255, 255, 255);
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: rgb(8, 133, 66);
}

.linkedinWidget {
  overflow: visible;
}

/****************************************************************** 
 *------------------------ MEDIA QUERY ---------------------------*
******************************************************************/

@media (max-width: 1200px) {
  .Cards {
    /* display:contents; */
    flex-direction: column;
    width: 10vw;
/*     border: 1px solid rgb(255, 47, 241);
    background-color: yellow; */
    margin-bottom: 2em;
    height: auto;

    padding-bottom: 12px;
  }

  .cardCustom {
    /*     display: flex; */
    justify-content: center;
    flex-direction: column;

  }

  .cardCustom>.card {
    width: 77%;
    /* padding: 2%; */
    margin-inline: auto;

  }
}

@media (max-width: 560px) {
  .Cards {
    /* display:contents; */
    flex-direction: column;
    width: 10vw;
/*     border: 1px solid rgb(255, 47, 241);
    background-color: yellow; */
    margin-bottom: 2em;
    height: auto;

    padding-bottom: 12px;
  }

  .cardCustom {
    /*     display: flex; */
    justify-content: center;
    flex-direction: column;

  }

  .cardCustom>.card {
    width: 77%;
    margin-inline: auto;

  }

  /* 
  .dropdown-menu.show {
    height: fit-content;
  }
 */

  .footer {
    padding: 0px;
  }

}