p {
  font-size: 16px;
      color: rgb(11, 29, 11);
}

/* -------------------------------------- NAVBAR ---------------------------------------*/

.nav-item {
  padding-inline: 2em;
  /*   background-color: fuchsia; */
}

/* a.nav-link   {
  color: white;
} */

a.nav-link.active:hover,
a#basic-nav-dropdown:hover {
  color: rgb(42, 165, 65);
}

/* 
#basic-nav-dropdown {
  color: rgb(230, 26, 26);
} */

.dropdown-menu.show {
  background-color: rgba(254, 254, 254, 0.973);
  /* color: blue; */
  border: none;
/*   border-radius: 1px; */
/*   height: 27vh; */
/*   padding: inherit; */
  padding-top: inherit;
  padding-top: 1em;
}

a.dropdown-item:hover {
  background-color: rgba(18, 222, 154, 0);
}

.LogoNav {
  width: 14em;
  padding: 20px;

}

/* -------------------------------------- ANIMATION WELCOMING PAGE ---------------------------------------*/

.divAnimation {
  /*   width: 100px;
  height: 100px; */
  height: 50vh;
  padding: 2em;
  /*   background: rgba(1, 119, 66, 0.057);
 */
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    bottom: -200px;
  }

  to {
    bottom: -30px;
    background-color: rgba(0, 0, 255, 0);
  }
}

.enSavoirPlusBtn {
  box-shadow: 10px 10px;
  background: #63bf7c
    /* #a3ffc3 */
  ;
  color: #162029ed;

}

.enSavoirPlusBtn:hover {
  background-color: #a3ffc3;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

  height: 17em;
}

.main-heading {
  color: rgb(99, 191, 124);
  /* font-size: 26px; */
}

/* .aboutSection{
  margin-top: -9rem;
} */

.underline {
  height: 4px;
  width: 4rem;
  background-color: rgb(99, 191, 124);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .cardCustom {
  background-color: blueviolet;

} */

.Cards {

  height: 75vh;
  display: flex;
  flex-direction: row;
  


}

.Cards .cardCustom {
  padding: 15px;
  color: fuchsia;

}

.cardCustom .card {
  background-color: #096e52;
  color: #fff;
  width: 322px;
/*   height: 60vh; */
  padding-bottom: 18px;

}

/* .divGestAdm {
  border: 2px solid red;
} */

/* -------------------------------------- ANIMATION CARDS ---------------------------------------*/

.zoomCards {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  /*   width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoomCards:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.bg-c-light {
  background-color: rgb(229, 227, 223);
}

.border-top-c {
  border-top: 1px solid rgba(181, 131, 61, 0.155);
}

.border-bottom-c {
  border-bottom: 8px solid rgb(99, 191, 124);
}

.enSavoirPlusCard {
  color: rgb(249, 251, 250);
}

.enSavoirPlusCard:hover {
  color: rgb(99, 191, 124);
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color: rgb(8, 133, 66);
}

.linkedinWidget {
  overflow:visible;
}

/****************************************************************** 
 *------------------------ MEDIA QUERY ---------------------------*
******************************************************************/


@media (max-width: 460px) {
  .Cards {
    display: block;
    width: 60vw;

    margin-bottom: 2em;
  height: auto;

  padding-bottom: 12px;
  }

  .cardCustom {
    /*     display: flex; */
    justify-content: center;
    flex-direction: column;

  }

  .cardCustom>.card {
    width: 77%;
    padding: 2%;
    margin-inline: auto;

  }
/* 
  .dropdown-menu.show {
    height: fit-content;
  }
 */

 .footer {
  padding: 0px;
 }

}